######################################################
# Install Bower Components and Node Modules using the
# JSON provided
######################################################
node_modules
bower_components