<!DOCTYPE html>
<html>
<head>
	<title>Guilty Gear Xrd -SIGN- / Sol Badguy / Combos</title>

	<script src='/vendor/jquery/dist/jquery.min.js'></script>
	<script src='/vendor/jquery.cookie/jquery.cookie.js'></script>
	<script src='/vendor/underscore/underscore.js'></script>
	<script src='/vendor/bootstrap/dist/js/bootstrap.min.js'></script>

	<link rel='stylesheet' href="vendor/bootstrap/dist/css/bootstrap.min.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src='/static/js/app.js'></script>
	<link rel='stylesheet' href="/static/css/styles.css"></script>
</head>
<body>
	<div class="container">

		<h1 class="text-center">Sol Badguy</h1>

		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><p class="navbar-text">Navigation: </p></li>
					<li class="dropdown">
			        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Guilty Gear Xrd -SIGN- <span class="caret"></span></a>
			        	<ul class="dropdown-menu">
			        		<li><a href="#">Games</a></li>
			        		<li role="separator" class="divider"></li>
				            <li><a href="#" onclick="alertUser()">Guilty Gear Xrd -SIGN</a></li>
				            <li><a href="#" onclick="alertUser()">Blazblue Chrono Phantasma Extend</a></li>
				            <li><a href="#" onclick="alertUser()">Under Night In-Birth Exe:Late</a></li>
			          	</ul>
			        </li>
			        <li class="dropdown">
			        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Sol Badguy <span class="caret"></span></a>
			        	<ul class="dropdown-menu">
			        		<li><a href="#" onclick="alertUser()">Characters</a></li>
			        		<li role="separator" class="divider"></li>
				            <li><a href="#" onclick="alertUser()">Sol Badguy</a></li>
				            <li><a href="#" onclick="alertUser()">Ky Kiske</a></li>
				            <li><a href="#" onclick="alertUser()">Millia Rage</a></li>
			          	</ul>
			        </li>
			        <li class="dropdown">
			        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Combos <span class="caret"></span></a>
			        	<ul class="dropdown-menu">
			        		<li><a href="#" onclick="alertUser()">Navigation</a></li>
			        		<li role="separator" class="divider"></li>
				            <li><a href="#" onclick="alertUser()">Overview</a></li>
				            <li><a href="#" onclick="alertUser()">Move List</a></li>
				            <li><a href="#" onclick="alertUser()">Combos</a></li>
				            <li><a href="#" onclick="alertUser()">Strategy</a></li>
				            <li><a href="#" onclick="alertUser()">Frame Data</a></li>
			          	</ul>
			        </li>
			        <li class="navbar divider-vertical"></li>
			        <li><p class="navbar-text">Contribute to the Database: </p></li>
			        <li><button type="button" class="btn btn-primary navbar-btn" id="addComboButton" data-toggle="modal" data-target="#addComboModal">Add Combo</button></li>
			        <li class="navbar divider-vertical"></li>
			    </ul>
			    
				<ul class="nav navbar-nav navbar-right" id="authButtons">
					<li><button type="button" class="btn btn-primary navbar-btn" id="signInButton" data-toggle="modal" data-target="#signInModal">Sign In</button></li>
					<li><button type="button" class="btn btn-primary navbar-btn" id="signUpButton" data-toggle="modal" data-target="#signUpModal">Sign Up</button></li>
					<li><button type="button" class="btn btn-primary navbar-btn" id="profileButton" onclick="alertUser()">View Profile</button></li>
					<li><button type="button" class="btn btn-primary navbar-btn" id="signOutButton">Sign Out</button></li>
				</li>

			</div>
		</nav>

		<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="signInModalLabel">Sign In</h4>
					</div>
					<form id="signInForm">
						<div class="modal-body">
							<h2 class="text-center">Welcome Back to the Stage of History</h2>
							<br>
							<div class="form-group">
								<label for="signInEmail" class="control-label">Email</label>
								<input type="email" class="form-control" id="signInEmail" placeholder="Email" name="email" required >
							</div>
							<div class="form-group">
								<label for="signInPassword" class="control-label">Password</label>
								<input type="password" class="form-control" id="signInPassword" placeholder="Password" name="password" required >
							</div>
							<div class="checkbox">
								<label> 
									<input type="checkbox" id="rememberMe"> Remember Me
								</label>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-default">Sign In</button>
						</div>
					</form>					
				</div>
			</div>
		</div>

		<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form id="signUpForm">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="signUpModalLabel">Sign Up</h4>
						</div>
						<div class="modal-body">
							<h2 class="text-center">Join the Ranks of the World Warriors</h2>
							<br>
							<div class="form-group">
								<label for="signUpEmail" class="control-label">Email</label>
								<input type="email" class="form-control" id="signUpEmail" placeholder="Email" name="email" required >
							</div>
							<div class="form-group">
								<label for="signUpPassword" class="control-label">Password</label>
								<input type="password" class="form-control" id="signUpPassword" placeholder="Password" name="password" required >
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-default">Sign Up</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="modal fade" id="addComboModal" tabindex="-1" role="dialog" aria-labelledby="addComboModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form id="addComboForm">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="addComboModalLabel">Add a Combo</h4>
						</div>
						<div class="modal-body">
							<h2 class="text-center">Share Your Ideas with the World</h2>
							<br>
							<div class="form-group">
								<label for="addComboMoves" class="control-label">Combo</label>
								<input type="text" class="form-control" id="addComboMoves" placeholder="Combo" name="moves" required >
							</div>
							<div>
								<label for="addComboMoves" class="control-label">Damage</label>
								<input type="text" class="form-control" id="addComboDamage" placeholder="Damage" name="damage" >
							</div>
							<div>
								<label for="addComboMeter" class="control-label">Meter</label>
								<input type="text" class="form-control" id="addComboMeter" placeholder="Meter" name="meter">
							</div>
							<div>
								<label for="addComboPosition" class="control-label">Position</label>
								<input type="text" class="form-control" id="addComboPosition" placeholder="Position" name="position">
							</div>
							<div>
								<label for="addComboNotes" class="control-label">Notes</label>
								<input type="text" class="form-control" id="addComboNotes" placeholder="Notes" name="notes">
							</div>
							<div>
								<label for="addComboLink" class="control-label">Youtube Link</label>
								<input type="text" class="form-control" id="addComboLink" placeholder="Youtube Link" name="link">
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-default">Add Combo</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="modal fade" id="editComboModal" tabindex="-1" role="dialog" aria-labelledby="editComboModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form id="editComboForm">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="editComboModalLabel">Edit a Combo</h4>
						</div>
						<div class="modal-body">
							<h2 class="text-center">Refine Your Ideas</h2>
							<br>
							<div class="form-group">
								<label for="editComboMoves" class="control-label">Combo</label>
								<input type="text" class="form-control" id="editComboMoves" placeholder="Combo" name="moves" required >
							</div>
							<div>
								<label for="editComboMoves" class="control-label">Damage</label>
								<input type="text" class="form-control" id="editComboDamage" placeholder="Damage (numbers only)" name="damage" >
							</div>
							<div>
								<label for="editComboMeter" class="control-label">Meter</label>
								<input type="text" class="form-control" id="editComboMeter" placeholder="Meter (numbers only)" name="meter">
							</div>
							<div>
								<label for="editComboPosition" class="control-label">Position</label>
								<input type="text" class="form-control" id="editComboPosition" placeholder="Position" name="position">
							</div>
							<div>
								<label for="editComboNotes" class="control-label">Notes</label>
								<input type="text" class="form-control" id="editComboNotes" placeholder="Notes" name="notes">
							</div>
							<div>
								<label for="editComboLink" class="control-label">Youtube Link</label>
								<input type="text" class="form-control" id="editComboLink" placeholder="Link" name="link">
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-default" id="editComboButton" onclick="return sendEdit(this.id)">Edit Combo</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div id="comboPlaceholder">
		</div>

		<div >
			<script type="text/template" id="comboTemplate">
				<% _.each(combos, function(combo)
				{ %>
				<hr>
				</br>
				<div class="row">
					<div class="col-md-6">
						<h2> <u>Combo</u> </br>
						<small> <%= combo.moves %> </small> </h2>
					</div>
					<div class="col-md-2">
						<h2> <u> Position</u> </br>
						<small><%= combo.position ? combo.position : "-"%></small></h2>
					</div>
					<div class="col-md-2">
						<h2> <u> Damage</u> </br>
						<small> <%= combo.damage ? combo.damage : "-"%> </small> </h2>
					</div>
					<div class="col-md-2">
						<h2> <u> Meter</u> </br>
					 	<small> <%= combo.meter ? combo.meter : "-"%></br> </small> </h2>
					</div>
				</div>
				</br>
				<div class="row">
					<div class="col-md-9">
						<% if(combo.link) { %>
							<iframe width="560" height="315" src=<%= combo.link %> frameborder="0" allowfullscreen></iframe>
						<% } else { %>
							Add a Video
						<% } %>
					</div>
					<div class="col-md-3">
						<div class="btn-group" role="group" aria-label="...">
							<button type="button" class="btn btn-primary" id=<%= _id %>edit<%= combo._id %> onclick="return populateEditForm(this.id)">Edit Combo</button>
							<button type="button" class="btn btn-primary" id=<%= _id %>close<%= combo._id %> onclick="return deleteCombo(this.id)">Delete Combo</button>
						</div>
					</div>
				</div>
				</br>
				<div class="row">
					<div class="col-md-12">
						<h2> <u> Notes</u> </br>
						<small> <%= combo.notes ? combo.notes : "-"%></br> </small> </h2>
					</div>
				</div>
				</br>
				<% }) %>
			</script>
		</div>
	</div>
</body>
</html>