<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <script src='/vendor/jquery/dist/jquery.min.js'></script>
  <script src='/vendor/underscore/underscore.js'></script>
  <script src='/vendor/bootstrap/dist/js/bootstrap.min.js'></script>

  <link rel='stylesheet' href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src='/static/js/app.js'></script>
  <link rel='stylesheet' href="/static/css/styles.css"></script>
</head>
<body>
  <form id="signUpBox">
    <h2 class="text-center"> New User? Sign Up: </h2>
    <br>
    <div class="form-group">
      <input type="email" class="form-control" id="signUpEmail" placeholder="Email" name="email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="signUpPassword" placeholder="Password" name="password">
    </div>
    <button type="submit" class="btn btn-default">Sign Up</button>
  </form>

</body>
</html>
